body { 
	background-color: Gainsboro;
	color: #333333;
	margin:0;
}

header { 
	height: 1rem;
	background-color: #333333;
	color: #FFFFFF;
}

header h1, main h1 {
	margin:0;
	padding:0;
}
header #site-branding h1 span {
	margin-left:-9999px
}

header #site-branding h1 img {
	width:120px;
	height:40px;
}

nav {
}

nav ul { 
  list-style: none;
  display: flex;
  justify-content:flex-end;  
  margin-left: auto;
  gap: 1rem
 }
 
nav ul li { 
	background-color: Ivory;
	font-family: 'Roboto', sans-Serif; 
}

nav ul li:hover { 
	background-color: LightGoldenRodYellow 
}

footer {
	background-color: rgb(0,0,0);
	color: rgb(255,255,255);
	height: 200px;
	max-width:80ch
}

main {
	padding: 1rem;
	background-color: Ivory;
	font-family: 'Hedvig Letters Serif', serif;
	color: #333333;
	
}


article { 
	background-color: Ivory;
	color: #333333;
}


section {
  background: #f5f5f5; /* or very subtle tint */
  border-radius: 8px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-Serif; 
	color: rgb(33,33,33);
}

p { 
	font-family: 'Hedvig Letters Serif', serif; 	
}

footer p:first-child {
	margin:0px
}

.container {
	max-width: 700px;
	margin: 0 auto;
	padding: 0 1rem;
}
.now_read_on { text-align: right }
.mailmerge {
	background-color:#CCCCCC;
	border-bottom: 1px solid #C0C0C0;
	color:#000000
}